{% extends 'base.html' %}

{% block content %}

{% if not weather_data %}

<style>
    .form-container {
        text-align: center;
        margin-top: 15.0rem;
    }
</style>


{% else %}

<style>
    .form-container {
        text-align: left;
        margin-left: 3.5rem;
        margin-top: 2.0rem;
    }
</style>

{% endif %}

<div class="form-container">
    <form method="post" class="weather-form">
        {% csrf_token %}
        <input type="text" name="city" id="city-input" placeholder="Search for cities" class="city-input">
        <button type="submit" class="search-button">
            <i class="fas fa-search"></i>
        </button>
    </form>
</div>
</div>

{% if weather_data %}
{% include 'show_weather.html' with weather_data=weather_data %}
{% else %}
<div class="error-message">
    <h1>{{error}}</h1>
</div>
{% endif %}

{% endblock %}